dataFile=TestingData.arff
minQuality=15
subsystemTypeId=1
learningSubsystemQualityWage=0.5
learningSubsystemIterations=1000

baseCost=1000
Skład.W2=10
Skład.W3=35
CzasAusferrytyzacji.średni=17
WariantObróbki.wieloetapowa=50
TemperaturaAustenityzowania.średnia=30
TemperaturaAusferrytyzowania.wysoka=60
